---
layout: default
title : Homepage
navbar_title: Home
num_selected: 50
---
{% include widgets/profile_card.html %}

<div class="row">
  <div class="col-lg-6">
      {% if site.data.display.homepage.show_news %}
      {% assign count_news = site.news | size %}
      {% if count_news > 0 %}
          {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
      {% endif %}
      {% endif %}
  </div>
  <div class="col-lg-6">
      {% include widgets/awards_card.html %}
  </div>
</div>

{% if site.data.display.homepage.show_selected_publications %}
  {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
  {%
      include widgets/publication_card.html
      publications=pubs
      title='<i class="fas fa-star"></i> Selected Publications'
  %}
{% endif %}
